[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
pillow = "*"
matplotlib = "*"
scipy = "*"
opencv-python = "*"
sklearn = "*"
torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.2.0-cp36-cp36m-manylinux1_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu100/torchvision-0.4.0-cp36-cp36m-manylinux1_x86_64.whl"}

[requires]
python_version = "3.6"
